$checkout-screen-min-width-600: 600px;
$checkout-screen-min-width-600-width: 500px;
$checkout-summary-width: 80%;

.checkoutSummary {
  text-align: center;
  margin: auto;
  width: $checkout-summary-width;
}


