$modal-screen-600-min-width: 600px;
$modal-screen-600-width: 500px;
$modal-screen-600-left-250: 250px;

$modal-width: 70%;
$modal-padding: 16px;
$modal-left: 15%;
$modal-top: 30%;
$modal-bottom: 2%;
$modal-z-index: 500;
$modal-border: 1px solid #ccc;
$modal-box-shadow: 1px 1px 1px black;
$modal-transition: all 0.3s ease-out;

.modal {
  position: fixed;
  background-color: white;
  box-sizing: border-box;
  width: $modal-width;
  border: $modal-border;
  box-shadow: $modal-box-shadow;
  padding: $modal-padding;
  left: $modal-left;
  // top: $modal-top;
  bottom: $modal-bottom;
  z-index: $modal-z-index;
  transition: $modal-transition;
}


@media (min-width: $modal-screen-600-min-width) {
  .modal {
    width: $modal-screen-600-width;
    left: calc(50% - #{ $modal-screen-600-left-250 });
  }
}



