$input-width: 100%;
$input-padding: 10px;
$input-label-font-weight: 600;
$input-label-margin: 8px;
$input-common-background-color: #ccc;
$input-element-border: 1px solid $input-common-background-color;
$input-element-background-color: #fff;
$input-element-padding: 6px 10px;
$input-invalid: 1px solid #ff0000;
$input-background-color: #fa8072;

.input {
  box-sizing: border-box;
  width: $input-width;
  padding: $input-padding;

  .label {
    display: block;
    font-weight: $input-label-font-weight;
    margin: $input-label-margin;
  }

  .inputElement {
    outline: none;
    font: inherit;
    display: block;
    box-sizing: border-box;
    border: $input-element-border;
    background-color: $input-element-background-color;
    padding: $input-element-padding;
    width: $input-width;

    &:focus {
      outline: none;
      background-color: $input-common-background-color;
    }

    &.invalid {
      border: $input-invalid;
      background-color: $input-background-color;
    }

  }

}


